In [1]:
!pip install wget

Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

In [2]:
import numpy as np
import pandas as pd

In [3]:
products = pd.read_csv("products.csv")
products.head()

         barcode  nodeid3
0  3307139936826    28538
1  3770001023823     1909
2  3770001023793    28543
3  3560070538805     1912
4  3700146205532    28543

In [4]:
barcodes = list(products.barcode.values)

In [5]:
import os
os.mkdir("added-images")
os.chdir("added-images")

In [6]:
import requests
import wget

images_name = []
for i, barcode in enumerate(barcodes):
    url = f"https://fr.openfoodfacts.org//api/v0/produit/{barcode}"
    req = requests.get(url)
    data = req.json()
    if "product" in data:
        image = data["product"].get("image_url")
        if image is not None:
            name = "image_" + str(i) + image[-4:]
            images_name.append([barcode, name])
            image_filename = wget.download(image, name)
            print('Image Successfully Downloaded: ', image_filename)

Image Successfully Downloaded:  image_1.jpg
Image Successfully Downloaded:  image_2.jpg
Image Successfully Downloaded:  image_3.jpg
Image Successfully Downloaded:  image_4.jpg
Image Successfully Downloaded:  image_5.jpg
Image Successfully Downloaded:  image_6.jpg
Image Successfully Downloaded:  image_7.jpg
Image Successfully Downloaded:  image_8.jpg
Image Successfully Downloaded:  image_9.jpg
Image Successfully Downloaded:  image_10.jpg

In [7]:
os.chdir("../")

In [8]:
!zip -r added-images.zip added-images/

  adding: added-images/ (stored 0%)
  adding: added-images/image_4.jpg (deflated 0%)
  adding: added-images/image_2.jpg (deflated 0%)
  adding: added-images/image_3.jpg (deflated 1%)
  adding: added-images/image_7.jpg (deflated 0%)
  adding: added-images/image_8.jpg (deflated 0%)
  adding: added-images/image_5.jpg (deflated 0%)
  adding: added-images/image_6.jpg (deflated 0%)
  adding: added-images/image_1.jpg (deflated 0%)
  adding: added-images/image_9.jpg (deflated 0%)
  adding: added-images/image_10.jpg (deflated 0%)

In [9]:
df = pd.DataFrame(images_name, columns=['barcode', 'filename'])
df.head()

         barcode     filename
0  3770001023823  image_1.jpg
1  3770001023793  image_2.jpg
2  3560070538805  image_3.jpg
3  3700146205532  image_4.jpg
4  3329480018815  image_5.jpg

In [10]:
added_images = pd.merge(df, products, on='barcode')

In [11]:
added_images.head()

         barcode     filename  nodeid3
0  3770001023823  image_1.jpg     1909
1  3770001023793  image_2.jpg    28543
2  3560070538805  image_3.jpg     1912
3  3700146205532  image_4.jpg    28543
4  3329480018815  image_5.jpg    28543

In [12]:
added_images.to_csv("added_images.csv", index=False)